[Unit]
Description=Start tmux at startup detached

[Service]
Type=forking
ExecStart=/usr/bin/tmux new-session -s base -d
ExecStop=/usr/bin/tmux kill-session -t base 

[Install]
WantedBy=multi-user.target

# In order to persist a tmux session at startup, run
# # loginctl enable-linger $username
