[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle-unload/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/bundle/vim-airline-themes"]
	path = .vim/bundle-unload/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/bundle/python-mode"]
	path = vim/bundle/python-mode
	url = https://github.com/python-mode/python-mode.git
[submodule ".vim/bundle/vim-misc"]
	path = .vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule ".vim/bundle/vim-reload"]
	path = .vim/bundle/vim-reload
	url = https://github.com/xolox/vim-reload.git
[submodule "/home/shawn/.vim/bundle/jedi-vim"]
	path = /home/shawn/.vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
	branch = master
[submodule ".tmux/plugins/tmux-sensible"]
	path = .tmux/plugins/tmux-sensible
	url = https://git::@github.com/tmux-plugins/tmux-sensible
	branch = master
[submodule ".tmux/plugins/tmux-yank"]
	path = .tmux/plugins/tmux-yank
	url = https://git::@github.com/tmux-plugins/tmux-yank
	branch = master
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
	branch = master
